body {
  font-family: Arial, sans-serif;
  background-image: url('../images/stars_bg.jpg')  ;
}

.clue {
  font-size: 3em;
  width: 600px;
  background-color: #99cc99;
  padding: 15px;
  border: 1px solid #669966;        
  border-radius: 15px;
  -moz-border-radius: 15px;	
  -webkit-border-radius: 15px;       
}

.top h1 {
  float: left;
  width: 50%;
  margin: 0px;
  margin-top: 20px;	
}

.life_count {
	display: inline-block;
	text-align: right;
	width: 49%;
}

#container {
  margin: 0 auto;
  margin-top: 50px;
  width: 700px;
  background-color: #ffffff;
  padding: 15px;    
  border-radius: 15px;
  -moz-border-radius: 15px;	
  -webkit-border-radius: 15px;   
}

#choices {
  padding:0;
  margin:0;
  background-color: #ffffff;
  height: 100px;
}

ul {

}

#choices li {
  list-style-type: none;
  width: 120px;
  float: left;
  text-align: center;  
  padding: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;	
  -webkit-border-radius: 15px;
}

li a {
    color: black;
    text-decoration: none;
}

#choices li:hover {
    background-color: #ccffcc;
}

#choices li.selected {
  background-color: inherit !important;
  border: 3px solid black;        
}

#flash_correct {
  font-weight: bold;
  font-size: 2em;
  color: #669966;
}

#flash_incorrect {
  font-weight: bold;
  font-size: 2em;
  color: #996666;
}

.highscore {
  padding-top: 20px;	
}

.score_table {
  border-collapse: collapse;
  -moz-box-shadow: 3px 3px 4px #ccc;
  -webkit-box-shadow: 3px 3px 4px #ccc;
  box-shadow: 3px 3px 4px #ccc;
}

.score_table td, .score_table th {
  background: url(../images/hiscore_table.gif) repeat 50% 100%;
  text-shadow: #6DA918 1px 1px 1px;  
  padding: 5px;
  padding-right: 40px;
  background-color: #ccffcc;
  color: white;
}

.answer_table {
  display: table;
  margin: 0 auto;
}
.clue {
  margin-left: auto;
  margin-right: auto;
}
.answer_option {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
